[Unit]
Description=ntripserver for rtk4you
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=/bin/bash -c "/home/pi/rtcmserver/ntripserver -M 1 -i  /dev/ttyACM0 -b 115200  -O 1 -a 185.164.4.143 -p 2101 -m MOUNTPOINT -n USER -c PASSWORD"

[Install]
WantedBy=multi-user.target
